.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-link a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.nav-btn{
    border: none;
    padding: 10px 15px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


@media (max-width:768px){
    .nav-btn{
       width: 25%;
    }
}