.top-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.top-button{
    border: none;
    border-radius: 50px;
    background-color: rgba(230, 234, 237, 1);
    color: rgba(33, 137, 234, 1);
    /* padding: 10px 15px; */
    width: 180px;
    height: 55px;
    margin: 10px;
}
.course-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.course-card{
    width: 370px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(230, 234, 237, 1);
}
.course-card h4{
    margin: 30px 0;
}
